*{
    box-sizing: border-box;
}

body {
    font-family: Karla, Sans-Serif;
    margin: 0;
}

main {
    padding: 36px;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    height: 87px;
    background: #C2c9cf;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
}

.footer {
    text-align: center;
    height: 87px;
    background: #C2c9cf;
    color: white;
    padding: 20px;
    margin-top: 80px;
}

.logo {
    margin: 10px;
    max-width: 82px;
}

.header--title{
    font-size: 1.75rem;
    margin-right: auto;
}

.header--description{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Dosis, sans-serif;
}

.title {
    text-align: center;
    color: #3D3221;
    font-family: Dosis, sans-serif;
    font-size: 1.5rem;
    margin-top: 80px;
}

.voteCount {
    margin-top: 10px;
    text-align: center;
    color: #3D3221;
    font-family: Dosis, sans-serif;
    font-size: 1.5rem;
}

.top3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
   justify-content: center;
   align-items: center;
    background: #C2c9cf;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 85%;
 
}

@media only screen and (min-width: 1000px) {
    .top3 {
        display: flex;
        flex-direction: row;
        gap: 15px;
       justify-content: center;
       align-items: center;
        background: #C2c9cf;
        border-radius: 10px;
        padding: 20px;
        margin: 20px auto;
        width: 85%;
    }
  }

.top3--element {
    display: flex;
    flex-direction: column;
    background: #E5E5E5;
    border-radius: 10px;
    padding: 15px;
    width: 60%;
    color: #948879;
    flex-wrap: wrap;
}

.top3--profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top3--info {
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    gap: 80px;
}

.voteheader {
    margin: 0 auto;
    margin-top: 30px;
}

.pawbar {
    display: flex;
    margin-left: 10%;
    text-align: start;
    letter-spacing: 0.4rem;
    font-size: 1.8rem;
    color: transparent;  
    text-shadow: 0 0 0 #8DA8BF;
}

.top3--button {
   display: flex;
   justify-content: center;
}

.button--refresh:hover {
    background: linear-gradient(90.41deg, #711F8D 1.14%, #b04cd1 100%);
}

.button--refresh {
    font-family: "Karla", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #3299d4 1.14%, #18bdda 100%);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}
 

.voting{
    display: flex;
    flex-direction: row;
    gap: 25px;
   justify-content: center;
    background: #C2c9cf;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 85%;
    max-width: 900px;
}

.voteCard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #E5E5E5;
    border-radius: 10px;
    padding: 10px;
}

.dogpic{
    float: left;
    width:  250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.dogprofile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
    color: #948879;
}

.heart-icon {
    cursor: pointer;
    border: none;
    background: none;
}

.top10 {
    background: #C2c9cf;
    height: 450px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.top10card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #E5E5E5;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: center;
    color: #948879;
}

.top10card--info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 15px;
}

.photobanner {
    position:absolute; 
    top:10px; 
    bottom:10px;
    left:0px; 
    overflow:hidden; 
    white-space: nowrap;
    animation: bannermove 20s linear infinite;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.photobanner:hover {
    animation-play-state: paused;
}
  
  @keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-20%, 0);
    }
  }